.body{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif !important;
}
.containermenu{
    position:fixed;
    margin:0 auto;
width:100%;
z-index: 100;
}
.dedietrichlogo{
    margin-left:-14px;
    padding-top: 12px;
}
.topmenu{
 
    background: rgb(22,55,130);
    background: linear-gradient(90deg, rgba(22,55,130,1) 0%, rgba(31,45,124,1) 20%, rgba(92,80,118,1) 46%, rgba(241,169,5,1) 86%, rgba(247,172,0,1) 100%); 
height:105px;
margin:0 auto;
width:100%;
max-width:1400px;
padding-left:8px;
padding-right:8px;
}

.topmenuout{
background: rgb(22,55,130);
background: linear-gradient(90deg, rgba(22,55,130,1) 0%, rgba(22,55,130,1) 51%, rgba(247,172,0,1) 53%, rgba(247,172,0,1) 100%); 
height:105px;
margin:0 auto;
width:100%;


}
.center-box{
    color: #ffffff;
    /* align-self: center;
    flex-basis: auto; */
    margin: 0 auto;
}

.contop{
padding-top: 104px;
}
.topmenucont{
    /* background-color: #cccccc; */
    height:145px;
margin:0 auto;
width:100%;
position: fixed;
z-index: 100;
}

#themenu{
    margin-left: -28px;
    margin-top: 4px;
    color:#ffffff;
}

ul#themenu li {
    display:inline;
  }

  .center-box > h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
  }
.linkomenu{
    padding-right: 12px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    
}
.linkomenu:hover{
    padding-right: 12px;
    color: #ffffff;
    text-decoration: undrline;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.precaro{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(
'../images/homepage.png');
    /* background-image: url("../images/homepage.png"); */
    height: calc(100vh - 105px);
    /* height: 666px; */
    background-size:cover;
}


.topmenuoutsecondary{
    margin:0 auto;
width:100%;
margin-top: -4px;
height: 42px;
line-height: 42px;
border-bottom-width:0px ;
border-bottom-style:solid ;
border-bottom-color:#ffffff ;
}
.topmenusecondary{
    margin:0 auto;
    width:100%;
    max-width:1400px;
    padding-left:8px;
padding-right:8px;
}

.righttib{
    float: right;
    display: flex;
    height:105px;
    flex: 1 1 99%;
  
}

.innerrighttib{
    align-self: center;
    flex-basis: auto;

}



.langg{
    color: #ffffff;
    text-decoration: none;
}
a.langg:hover{
    color: #ffffff;
    text-decoration: none;
}

.boxw{
    padding: 8px;
    margin: 2px;
    border-width:1px;
    border-style:solid;
    border-color:#ffffff;
    color : #ffffff;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

a.boxw:hover{
  padding: 8px;
  margin: 2px;
  border-width:1px;
  border-style:solid;
  border-color:#ffffff;
  color : #ffffff;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}


.boxwn{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    padding: 8px;
    margin: 2px;
    border-width:0px;
    border-style:solid;
    border-color:#ffffff;
    color : #ffffff;
    text-decoration: none;
}

a.boxwn:hover{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    
  padding: 8px;
  margin: 2px;
  border-width:0px;
  border-style:solid;
  border-color:#ffffff;
  color : #ffffff;
  text-decoration: none;
}


.bmore1{
    padding: 8px;
    margin: 2px;
    border-width:1px;
    border-style:solid;
    border-color:#2ea8dc;
    color : #ffffff;
    text-decoration: none;
}

a.bmore1:hover{
  padding: 8px;
  margin: 2px;
  border-width:1px;
  border-style:solid;
  border-color:#2ea8dc;
  color : #ffffff;
  text-decoration: none;
}
.searchbox{
    background: transparent;
    border-style:solid;
     
    border-left-width:0px ;
    border-right-width:0px ;
    border-top-width:0px ;
    border-bottom-width: 1px;
    border-color: #ffffff;
    color: #ffffff;
    outline: none;
width: 29vw;
background-image: url('../images/searchiconwhite.png');
background-repeat: no-repeat;
padding: 3px;
margin-left: 39px;
padding-left: 29px;
padding-bottom: 4px;
}

.title1{
    font-size: 28px;
    font-weight: 200;
}
.title2{
    font-size: 18px;
    font-weight: 200;
}
.iconyp{
    padding-top:15px ;
}

.fluideg{
    width:100%;
    background: rgb(32,50,127);
    background: linear-gradient(107deg, rgba(32,50,127,1) 7%, rgba(42,155,209,1) 50%, rgba(247,172,0,1) 79%); 
}

.grlb{
    max-width:324px;
    width:100%;
}

.txtabv{
    font-size: 28px;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 200;
}

.curvy{
    color: #ffffff;


    padding: 8px;
    margin: 2px;
    border-width:1px;
    border-style:solid;
    border-color:#ffffff;
    color : #ffffff;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    font-size: 14px;
    border-radius: 18px;
}
a.curvy:hover{
    color: #ffffff;


    padding: 8px;
    margin: 2px;
    border-width:1px;
    border-style:solid;
    border-color:#ffffff;
    color : #ffffff;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    font-size: 14px;
    border-radius: 18px;
}
.witter{
    width: 100%;
    text-align: left;
    padding-left: 40px;
}

.greycontainer{
    background-color: #f2f2f2;
    width:100%;
}

.cardextra{
    border-width: 0px !important;
    border-radius: 0px !important;
}
.headg{
    font-size: 28px;
font-weight: 200;
}

.morecard{
    color:#000000;
    text-decoration: none;
}
a.morecard:hover{
    color:#000000;
    text-decoration: none;
}

.footercontainer{
    background-color: #163782;
    width:100%;

}


.thelistfooter {
    list-style-type:none;
}

.linkfooter{
    text-decoration: none;
    color:#ffffff;
}
a.linkfooter:hover{
    text-decoration: none;
    color:#ffffff;
}

.logofooter{
    padding-bottom: 23px;
}

.whitet{
    color: #ffffff;
}

.imenu2scroll{
  
    background-color:#163782 ;
    border-bottom-width:1px ;
border-bottom-style:solid ;
border-bottom-color:#ffffff ;
}

  